@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

.ld-wrapper { 
  max-width: 600px;
  margin-left: 60px;
  padding: 20px;
}

.ld-a {
  color: #4183c4;
}

.ld-a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.ld-div { 
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.ld-strong {
  background-color: #000;
  color: #dcdcdc;
  font-weight: normal;
  padding: 1px 4px;
  font-size: 14px;
  border-radius: 3px;
}

.ld-h1 { 
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-flex;
}

.ld-img { 
  max-width: 85px;
}

.ld-h1 .ld-img {
  border-radius: 5px;
}

.ld-ul {
  padding: 0;
}

.ld-li { 
  list-style: none;
  padding-bottom: 3px;
}

.ld-li .ld-ul {
  margin-top: 5px;
}
