@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.ld-wrapper { 
  max-width: 475px;
  margin: auto;
  padding: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
}

.ld-a {
  color: #4183c4;
}

.ld-a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.ld-div { 
  font-size: 14px;
}

.ld-h1 { 
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.ld-h1 img {
  border-radius: 5px;
}

.ld-h2 {
  font-size: 18px;
}

.ld-img { 
  max-width: 150px;
}

.ld-ul {
  padding: 0;
}

.ld-li { 
  padding-bottom: 5px;
  list-style: none;
}
