// --------
@import 'normalize';

$black: #04040c;
$grey: #929292;
$grey2: #e0e0e0;
$lime: #01FF70;
$fuchsia: #F012BE;
$teal: #1effff;
$green: #2ECC40;
$orange: #FF851B;
$yellow: #f7df1e;

$nyellow: #fff591;
$n2yellow: #fffcd2;
$ngrey: #afafaf;
$ndarkgrey: #616161;
$ndark: #232323;

$monospace: 'Ubuntu Mono', monospace;
$sansserif: 'Inter', sans-serif;

body {
    background-color: white;
    font-family: $monospace;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 510px;
    padding: 25px;

    .link {
        text-decoration: none;
        color: $ndark;
        display: inline-block;
        height: 20px;
        border-bottom: 8px solid #d2d3fd;

        &:hover {
            color: $black;
            border-color: #fdcaca;
            font-weight: bold;
        }
    }

    .head {
        padding-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .profile-picture {
        max-width: 140px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
    
    h1, h2 {
        font-family: $sansserif;
    }

    h1 {
        padding: 0;
        margin: 0;
        letter-spacing: -1px;
        font-size: 48px;
    }

    h2 {
        padding: 0;
        margin: 0;
        letter-spacing: -1px;
        font-size: 20px;
        font-weight: normal;
        padding-bottom: 3px;
        border-bottom: 1px solid $ndark;
    }


    .media {
        ul {
            margin-left: -25px;

            li {
                a {
                    font-size: 18px;
                    color: black;

                    &:hover {
                        background-color: $lime;
                        color: $black;
                        border-color: $black;
                    }
                }
            }
        }
    }

    p {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 18px;

        span {
            background-color: $n2yellow;
            text-decoration: underline;
        }
    }

    .info {
        margin-top: 20px;

        .things {
            background: $ndark;
        }
    }

    .experiments {
        margin-top: 50px;
        padding-bottom: 50px;

        h2 {
            font-size: 32px;
        }

        ul {
            margin-left: -35px;

            li {
                border-left: 1px dashed #000000;
                padding-bottom: 30px;
                padding-left: 15px;
                list-style: none;

                img {
                    width: 16px;
                }

                div {
                    border: none;
                    font-size: 18px;
                    display: inline;
                    text-transform: lowercase;
                    padding: 0px 4px;
                    color: white; 
                    background-color: $ndark;
                }

                span {
                    font-size: 16px;
                    margin-left: 5px;
                    text-transform: lowercase;
                }

                .links {
                    background: none;
                    display: block;
                    margin: 0px;
                    margin-top: 5px;
                    padding-top: 5px;
                    border-top: 1px dashed $ndarkgrey;
                    padding-left: 0px;
                    line-height: 24px;

                    a {
                        margin-right: 10px;
                        height: 24px;
                        border-width: 8px;
                    }
                }
            }
        }


        div {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 550px) {

    .container {
        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 16px;
        }

        p {
            font-size: 16px;
        }

        .experiments ul li span {
            font-size: 14px;
        }

        .experiments h2 {
            font-size: 20px;
        }
    }
}

// @keyframes anim {
//     0% {
//         margin-left: 1px;
//         margin-top: -6px;
//     }

//     10% {
//         margin-left: 1px;
//         margin-top: 14px;
//     }

//     50% {
//         margin-left: -73px;
//         margin-top: 14px;
//     }

//     60% {
//         margin-left: -73px;
//         margin-top: -6px;
//     }

//     100% {
//         margin-left: 1px;
//         margin-top: -6px;
//     }

//     // 25% {color: $lime;}
//     // 50% {color: $teal;}
//     // 75% {color: $green;}
//     // 100% {color: $fuchsia;}
//   }
